<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Viajes</title>

  <link rel="stylesheet" href="../../styles/styles.css">
  <link rel="stylesheet" href="viajes.css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@300;400;500&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- SIDEBAR -->
  <div class="sidebar">
    <h2>Nuestra Historia</h2>
    <a href="../../index.html">Inicio</a>
    <a href="viajes.html" class="active">Viajes</a>
    <a href="../galeria/galeria.html">Galería</a>
    <a href="../prueba-amor/prueba-amor.html">Prueba de Amor</a>
  </div>

  <!-- CONTENIDO -->
  <div class="content" style="padding: 0px !important;">

    <section class="hero" style="max-width: 100% !important;">
      <h1>Todos los lugares donde te elegí</h1>
      <button onclick="document.getElementById('viajes').scrollIntoView()">
        Empezar el viaje
      </button>
    </section>

    <section id="viajes">
      <div class="viaje">
        <h2>Donosti</h2>
        <p>El primer viaje improvisado que terminó siendo perfecto.</p>
        <div class="galeria">
          <img src="../../img/viajes/donosti/donosti1.jpg" alt="">
          <img src="../../img/viajes/donosti/donosti2.jpg" alt="">
          <img src="../../img/viajes/donosti/donosti3.jpg" alt="">
          <img src="../../img/viajes/donosti/donosti4.jpg" alt="">
          <img src="../../img/viajes/donosti/donosti5.jpg" alt="">
        </div>
      </div>

      <div class="viaje">
        <h2>Cascadas de Aizpun</h2>
        <p>Vinimos a ver una cascada… y encontramos un desierto. Pero contigo hasta lo seco tiene encanto.</p>
        <div class="galeria">
          <img src="../../img/viajes/cascada de aizpun/aizpun1.jpg" alt="">
          <img src="../../img/viajes/cascada de aizpun/aizpun2.jpg" alt="">
          <img src="../../img/viajes/cascada de aizpun/aizpun3.jpg" alt="">
          <img src="../../img/viajes/cascada de aizpun/aizpun4.jpg" alt="">
          <img src="../../img/viajes/cascada de aizpun/aizpun5.jpg" alt="">
          <img src="../../img/viajes/cascada de aizpun/aizpun6.jpg" alt="">
          <img src="../../img/viajes/cascada de aizpun/aizpun7.jpg" alt="">
        </div>
      </div>

      <div class="viaje">
        <h2>Cascadas de Xorroxin</h2>
        <p>Vinimos a ver una cascada… y esta vez si pudimos verla jeje.</p>
        <div class="galeria">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin1.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin2.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin3.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin4.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin5.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin6.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin7.jpg" alt="">
          <img src="../../img/viajes/cascada de xorroxin/xorroxin8.jpg" alt="">
        </div>
      </div>

      <div class="viaje">
        <h2>Noja</h2>
        <p>Primeras vacaciones juntos.</p>
        <div class="galeria">
          <img src="../../img/viajes/noja/noja1.JPG" alt="">
          <img src="../../img/viajes/noja/noja2.jpg" alt="">
          <img src="../../img/viajes/noja/noja3.jpg" alt="">
          <img src="../../img/viajes/noja/noja4.jpg" alt="">
          <img src="../../img/viajes/noja/noja5.jpg" alt="">
          <img src="../../img/viajes/noja/noja6.jpg" alt="">
          <img src="../../img/viajes/noja/noja7.jpg" alt="">
          <img src="../../img/viajes/noja/noja8.jpg" alt="">
          <img src="../../img/viajes/noja/noja9.jpg" alt="">
        </div>
      </div>      
      
      <div class="viaje">
        <h2>Zaragoza</h2>
        <p>Excursion por El Pilar.</p>
        <div class="galeria">
          <img src="../../img/viajes/Zaragoza/zaragoza1.jpg" alt="">
          <img src="../../img/viajes/Zaragoza/zaragoza2.jpg" alt="">
          <img src="../../img/viajes/Zaragoza/zaragoza3.jpg" alt="">
        </div>
      </div>

      <div class="viaje">
        <h2>Finde en Peralta</h2>
        <p>Excursion por el pueblo.</p>
        <div class="galeria">
          <img src="../../img/viajes/atalaya/San babil1.jpg" alt="">
          <img src="../../img/viajes/atalaya/San babil2.jpg" alt="">
          <img src="../../img/viajes/atalaya/atalaya1.jpg" alt="">
          <img src="../../img/viajes/atalaya/atalaya2.jpg" alt="">
          <img src="../../img/viajes/atalaya/atalaya3.jpg" alt="">
          <img src="../../img/viajes/atalaya/atalaya4.jpg" alt="">
        </div>
      </div>
    </section>

    <section class="final">
      <h2>Y todavía nos quedan muchos destinos.</h2>
    </section>

    <footer>
      Hecho con ❤️ para ti.
    </footer>

  </div>

</body>

</html>