<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería</title>
  <link rel="stylesheet" href="../../styles/styles.css">
  <link rel="stylesheet" href="galeria.css">
</head>

<body>

  <div class="sidebar">
    <h2>Nuestra Historia</h2>
    <a href="../../index.html">Inicio</a>
    <a href="../viajes/viajes.html">Viajes</a>
    <a href="galeria.html" class="active">Galería</a>
    <a href="../prueba-amor/prueba-amor.html">Prueba de Amor</a>
  </div>

  <div class="content">
    <h1>Nosotros</h1>
    <p>Nuestros momentos favoritos.</p>

    <div class="galeria-grid">
      <img src="../../img/galeria/galeria1.jpg" alt="">
      <img src="../../img/galeria/galeria2.jpg" alt="">
      <img src="../../img/galeria/galeria3.jpg" alt="">
      <img src="../../img/galeria/galeria4.jpg" alt="">
      <img src="../../img/galeria/galeria5.jpg" alt="">
      <img src="../../img/galeria/galeria6.jpg" alt="">
      <img src="../../img/galeria/galeria7.jpg" alt="">
      <img src="../../img/galeria/galeria8.jpg" alt="">
      <img src="../../img/galeria/galeria9.jpg" alt="">
      <img src="../../img/galeria/galeria10.jpg" alt="">
      <img src="../../img/galeria/galeria11.jpg" alt="">
      <img src="../../img/galeria/galeria12.jpg" alt="">
      <img src="../../img/galeria/galeria13.jpg" alt="">
      <img src="../../img/galeria/galeria14.jpg" alt="">
      <img src="../../img/galeria/galeria15.jpg" alt="">
      <img src="../../img/galeria/galeria16.jpg" alt="">
      <img src="../../img/galeria/galeria17.jpg" alt="">
      <img src="../../img/galeria/galeria18.jpg" alt="">
      <img src="../../img/galeria/galeria19.jpg" alt="">
      <img src="../../img/galeria/galeria20.jpg" alt="">
      <img src="../../img/galeria/galeria21.jpg" alt="">
      <img src="../../img/galeria/galeria22.jpg" alt="">
      <img src="../../img/galeria/galeria23.jpg" alt="">
      <img src="../../img/galeria/galeria24.jpg" alt="">
      <img src="../../img/galeria/galeria25.jpg" alt="">
      <img src="../../img/galeria/galeria26.jpg" alt="">
      <img src="../../img/galeria/galeria27.jpg" alt="">
      <img src="../../img/galeria/galeria28.jpg" alt="">
      <img src="../../img/galeria/galeria29.jpg" alt="">
    </div>

    <div class="lightbox" id="lightbox">
      <span class="close">&times;</span>
      <img class="lightbox-img" id="lightbox-img">
    </div>

    <script src="galeria.js"></script>

</body>

</html>