<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galería</title>
  <link rel="stylesheet" href="../../styles/styles.css">
  <link rel="stylesheet" href="galeria.css">
</head>
<body>

  <div class="sidebar">
    <h2>Nuestra Historia</h2>
    <a href="../../index.html">Inicio</a>
    <a href="../viajes/viajes.html">Viajes</a>
    <a href="galeria.html" class="active">Galería</a>
  </div>

  <div class="content">
    <h1>Nosotros</h1>
    <p>Nuestros momentos favoritos.</p>

    <div class="galeria-grid">
      <img src="../../img/galeria/galeria1.jpg" alt="">
      <img src="../../img/galeria/galeria2.jpg" alt="">
      <img src="../../img/galeria/galeria3.jpg" alt="">
      <img src="../../img/galeria/galeria4.jpg" alt="">
      <img src="../../img/galeria/galeria5.jpg" alt="">
      <img src="../../img/galeria/galeria6.jpg" alt="">
      <img src="../../img/galeria/galeria7.jpg" alt="">
      <img src="../../img/galeria/galeria8.jpg" alt="">
      <img src="../../img/galeria/galeria9.jpg" alt="">
  </div>

  <div class="lightbox" id="lightbox">
    <span class="close">&times;</span>
    <img class="lightbox-img" id="lightbox-img">
  </div>

  <script src="../../js/galeria.js"></script>

</body>
</html>