.prueba-container {
  max-width: 500px;
  margin: 80px auto;
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  font-family: 'Arial';
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: 15px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

#mensaje {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

#contador {
  margin-top: 15px;
  font-size: 18px;
  color: #555;
}

#contadorPremio {
  margin-top: 15px;
  font-size: 18px;
  color: #ffffff;
}

.flip-card {
    width: 500px;
    height: 380px;
    margin: 80px auto;
    perspective: 1000px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.flip-card.girada .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    padding: 30px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.flip-back {
    transform: rotateY(180deg);
    background: linear-gradient(135deg, #ff4d6d, #fab1c3);
    color: white;
}

.premio-texto {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

@keyframes caer {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}